@import "tailwindcss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(40, 40, 40, 0.944);
}

/*===== NAV =====*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.901);
  color: #fff;
  height: 5rem;
  
}

.btn-agen {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    cursor: pointer;
}

.logo {
    border-radius: 100%;
}

.lista-links {
  display: flex;
  gap: 5rem;
  font-size: 1.5rem;
}

/* ===== HOME ===== */

.sessoes {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40rem;
}

.slogan {
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

/* ===== SERVICOS ===== */

.servicos {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    
}

.container-servicos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 5rem ;
    color: #fff;
}

.tipo-servicos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cardProduto{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title-servico {
    font-size: larger;
    font-weight: bold;
}

/* =====  */