@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(18, 18, 18, 0.825), rgba(0, 0, 0, 0.85)),
    url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMy1jaGltLTE4LWItYnJpY2tfMC5qcGc.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ===== NAV ===== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.901);
  color: #fff;
  height: 6rem;
  position: fixed;
  width: 100%;
}

.btn-agen {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(234, 218, 1, 0.738);
  color: black;
  cursor: pointer;
}

.logo {
  border-radius: 100%;
}

.lista-links {
  display: flex;
  gap: 5rem;
  font-size: 1.5rem;
  color: rgba(234, 218, 1, 0.738);
}

/* ===== HOME ===== */

.sessoes {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40rem;
}

.slogan {
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

/* ===== SERVICOS ===== */

.servicos {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}

.container-servicos {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 5rem;
  color: #fff;
  min-height: max-content;
}

.tipo-servicos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 25px;
  padding: 30px;
  width: 80%;
}

.cardProduto {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.577);
  border-radius: 15px;
  padding: 15px;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.title-servico {
  font-size: 25;
  font-weight: bold;
  color: rgba(234, 218, 1, 0.738);
}

.info-servico {
  font-size: 20;
}

.image-servicos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
}
.servico-img {
  border-radius: 10%;
  min-width: 50%;
  min-height: 10%;
}

/* ===== GALERIA ===== */

.galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 45rem;
}

.grade-fotos {
  display: flex;
  gap: 2rem;

}

.foto {
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(234, 218, 1, 0.738);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: cover;
}

.foto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(234, 219, 1);
}

/* ===== EQUIPE ===== */

.equipe {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  gap: 5rem 0;
}

/* ===== UNIDADE ===== */

.unidade {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  gap: 3rem 0;
  padding: 6rem;
}

.local-img {
  border-radius: 10%;
}

/* ===== SOBRE NÓS ===== */

.sobre-hero {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  gap: 3rem;
}

.sobre-conteudo {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 0 5rem;
  height: 100%;
  min-width: min-content;
}

.sobre-text {
  display: flex;
  width: 50%;
  justify-content: center;
  text-align: center;
}

.sobre-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  gap: 2rem;
  width: 50%;
}

.text {
  font-size: 1.3rem;
  text-align: justify;
}

.img {
  border-radius: 0.5rem;
  min-width: 80%;
}

/* ===== AGENDAMENTO ===== */

.hero {
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}

form{
  display: flex;
  flex-direction: column;
  background-color: rgba(44, 44, 44, 0.411);
  box-shadow: 0 0 10px rgba(234, 218, 1, 0.738);
  width: 30rem;
  gap: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  border: solid 1 rgba(234, 219, 1, 0.488);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.363);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.input-box, .select {
  background-color: rgba(4, 4, 4, 0.968);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}